@import jeet
@import 'nib'
.locked
	overflow hidden
	margin-right 15px
	height 100vh
	
.locked-html
	overflow visible

.link_modal
	a
		cursor pointer
		color red
.modal-overlay
	position fixed
	left 0
	bottom 0
	top 0
	right 0
	background rgba(0,0,0,.5)
	z-index 50
	+mobile()
		background white
		overflow scroll
		padding-top 43px
	+above(668px)
		overflow hidden
	>.modalClose
		+mobile()
			position fixed 
			z-index 2000
			top 0
			width 100%
			padding 12px
			font-size 15px
			background black
			color white
			border 1px solid white
			cursor pointer
		+above(668px)
			display none
.modal-wrap
	&.active
		display block 
	+above(668px)
		position fixed
		z-index 100
		display none
		background white
		border-radius 5px
		padding 20px
	.modal-content
		+mobile()
			position relative
		+above(668px)
			overflow: auto;
			/*min-width  10vw
			max-width  80vw
			max-height 80vh
			min-height 10vh	*/
	span
		+mobile()
			display none
		+above(668px)
			position absolute
			display initial
			z-index 1100
			right -12.5px
			top -12.5px
			border-radius 50%
			background black
			color white
			width 25px
			height 25px
			cursor pointer
.modal-loading
	position fixed
	display flex
	justify-content center
	align-items center
	left 0
	bottom 0
	top 0
	right 0
