@import jeet
@import 'nib'
.locked
	overflow hidden
.link_modal
	a
		cursor pointer
		color red
.modal-overlay
	position fixed
	left 0
	bottom 0
	top 0
	right 0
	background rgba(43,46,56,.9)
	z-index 50

.modal-wrap
	border-radius 5px
	padding 20px
	background white
	z-index 100
	.modal-content
		position relative
		min-width  30vw
		max-width  80vw
		max-height 80vh
		min-height 30vh
		overflow: auto;
	span
		position absolute
		z-index 1100
		right -12.5px
		top -12.5px
		border-radius 50%
		background black
		color white
		width 25px
		height 25px
		cursor pointer
.modal-loading
	position fixed
	display flex
	justify-content center
	align-items center
	left 0
	bottom 0
	top 0
	right 0
