.locked {
  overflow: hidden;
  margin-right: 15px;
  height: 100vh;
}
.locked-html {
  overflow: visible;
}
.link_modal a {
  cursor: pointer;
  color: #f00;
}
.modal-overlay {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  z-index: 50;
}
@media only screen and (max-width: 400px) {
  .modal-overlay {
    background: #fff;
    overflow: scroll;
    padding-top: 43px;
  }
}
@media only screen and (min-width: 668px) {
  .modal-overlay {
    overflow: hidden;
  }
}
@media only screen and (max-width: 400px) {
  .modal-overlay >.modalClose {
    position: fixed;
    z-index: 2000;
    top: 0;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    background: #000;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
  }
}
@media only screen and (min-width: 668px) {
  .modal-overlay >.modalClose {
    display: none;
  }
}
.modal-wrap.active {
  display: block;
}
@media only screen and (min-width: 668px) {
  .modal-wrap {
    position: fixed;
    z-index: 100;
    display: none;
    background: #fff;
    border-radius: 5px;
    padding: 20px;
  }
}
@media only screen and (max-width: 400px) {
  .modal-wrap .modal-content {
    position: relative;
  }
}
@media only screen and (min-width: 668px) {
  .modal-wrap .modal-content {
    overflow: auto;
  }
}
@media only screen and (max-width: 400px) {
  .modal-wrap span {
    display: none;
  }
}
@media only screen and (min-width: 668px) {
  .modal-wrap span {
    position: absolute;
    display: initial;
    z-index: 1100;
    right: -12.5px;
    top: -12.5px;
    border-radius: 50%;
    background: #000;
    color: #fff;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
}
.modal-loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
}
