doctype
html(lang=es)
	head
		meta(charset="utf-8")
		title Skeletor
		meta(name="description",content="Skeletor")
		meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		link(rel="stylesheet",href="css/style.css")
		link(rel="stylesheet",href="css/modal.css")
		
	body
		.link_modal
			| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			| proident, sunt in culpa qui officia deserunt mollit anim id est laborum.| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			| proident, sunt in culpa qui officia deserunt mollit anim id est laborum.| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			| proident, sunt in culpa qui officia deserunt mollit anim id est laborum.| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			| proident, sunt in culpa qui officia deserunt mollit anim id est laborum.| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			| <br>
			a.fancybox.open_modal(data-link-modal="#tplComboAnidado") Abrir modal
			|  <br>
			| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			| proident, sunt in culpa qui officia deserunt mollit anim id est laborum.| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			| proident, sunt in culpa qui officia deserunt mollit anim id est laborum.orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			| proident, sunt in culpa qui officia deserunt mollit anim id est laborum.| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			| proident, sunt in culpa qui officia deserunt mollit anim id est laborum.| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			| proident, sunt in culpa qui officia deserunt mollit anim id est laborum.| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			| proident, sunt in culpa qui officia deserunt mollit anim id est laborum.| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			| proident, sunt in culpa qui officia deserunt mollit anim id est laborum.| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			| proident, sunt in culpa qui officia deserunt mollit anim id est laborum.orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			| proident, sunt in culpa qui officia deserunt mollit anim id est laborum.| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			| proident, sunt in culpa qui officia deserunt mollit anim id est laborum.| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			| proident, sunt in culpa qui officia deserunt mollit anim id est laborum.| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			| proident, sunt in culpa qui officia deserunt mollit anim id est laborum.| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			| proident, sunt in culpa qui officia deserunt mollit anim id est laborum.| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			| proident, sunt in culpa qui officia deserunt mollit anim id est laborum.orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			| proident, sunt in culpa qui officia deserunt mollit anim id est laborum.| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			| proident, sunt in culpa qui officia deserunt mollit anim id est laborum.| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			| proident, sunt in culpa qui officia deserunt mollit anim id est laborum.| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			| proident, sunt in culpa qui officia deserunt mollit anim id est laborum.| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			| proident, sunt in culpa qui officia deserunt mollit anim id est laborum.| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			| proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

		script(src="bower_components/jquery/dist/jquery.min.js")
		script(src="bower_components/underscore/underscore.js")
		script(src="bower_components/parsleyjs/dist/parsley.min.js")
		script(src="bower_components/fancybox/source/jquery.fancybox.js")

		script
			| var yOSON = {module: "home",controller: "combo_anidado",action: "index" };
		script(src="bower_components/yosonjs/build/yoson-min.js")

		script(src="js/home/combo_anidado/combo.js")
		script(src="js/schema.js")
		script(src="js/loader.js")


script(type="text/template" id="tplComboAnidado")
	#modal.modal_city
		.content
			h3.title
				| Seleccione
			.content_group
				.select_group
					.group
						label Departamento :
						select.select_cat(name="dpto")
					.group
						label Provincia :
						select.select_item(name="prov")
							option(selected disabled) Escoge
					.group
						label Distrito :
						select.select_item(name="dist")
							option(selected disabled) Escoge
				.btn
					.btn_add
						| Agregar
					.btn_update
						| Actualizar
					.btn_loading
						| Espere...
	

script(type="text/template" id="tplListSlc")
	option(value="Seleccion" selected disabled) Selecciona
	| {{ for(i=0;i<data.length;i++){ }}
	| {{ if(id == data[i].id_ubigeo) { }}
	option(value='{{=data[i].id_ubigeo}}' selected) {{=data[i].nombre_ubigeo}}
	| {{
	| } else {
	| }}
	option(value='{{=data[i].id_ubigeo}}' ) {{=data[i].nombre_ubigeo}}
	| {{
	| } }
	| }}

script(type="text/template" id="tplShowList")
	| {{ if(!data.length == 0) { }}
	.content_list
		h3.title Lista de datos agregados
		ul.content_list
			li
				div.depart Departemento
				div.prov Provncia
				div.dist Distrito
				div.edit Editar
				div.remove Eliminar
				|{{$.each(data, function(key, value){ }}
				| <li><div class='id' data-id='{{=key}}'></div><div data-id-dpto='{{=value.dpto.id}}'>{{=value.dpto.name}}</div><div data-id-prov='{{=value.prov.id}}'>{{=value.prov.name}}</div><div data-id-dist='{{=value.dist.id}}'>{{=value.dist.name}}</div><div class='btn_edit'>Edit</div><div class='btn_remove'>Eliminar</div></li>
				|{{ }); }}
	|{{ } }}